<template>
  <q-page class="flex flex-center">
    <div class="container fit q-pa-xs-sm q-pa-md-xl q-pa-lg-xl">
      <div class="row justify-between">
        <component
          v-bind:is="component"
          :courseDetails="courseDetails"
          :ins="ins"
        ></component>
      </div>
      <div class="column q-mt-md">
        <content-slide :contents="course.Contents" />
      </div>
    </div>
  </q-page>
</template>

<script>
import { ref, inject } from "vue";
import DetailsCard from "src/components/DetailsCard.vue";
import ContentSlide from "src/components/ContentSlide.vue";
import VideoComponent from "src/components/VideoComponent.vue";
export default {
  components: { DetailsCard, ContentSlide, VideoComponent },
  setup() {
    const store = inject("store");
    const emitter = inject("emitter");

    return {
      emitter,
      store,
      expanded: ref(false),
      lorem:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    };
  },
  created() {
    this.emitter.on("content-click", (e) => {
      this.itemClicked(e);
    });
  },
  data() {
    return {
      course: {},
      ins: {},
      courseDetails: {},
      component: "DetailsCard",
      clickedContent: {},
    };
  },
  async mounted() {
    await this.getCourseById();
  },
  methods: {
    itemClicked(values) {
      this.component = values.component;
      this.clickedContent = { id: values.id, fileName: values.fileName };
    },
    async getCourseById() {
      const response = await this.store.methods.getCourseById(
        this.$route.params.id
      );
      this.course = await response.data;
      this.ins = this.course.instructor;
      this.courseDetails = {
        courseName: this.course.courseName,
        price: this.course.price,
        rate: this.course.rate,
        coverImg: this.course.coverImg,
        description: this.course.description,
      };
    },
  },
};
</script>

<style></style>
