<template>
  <q-page class="flex flex-center q-pa-xs-sm q-pa-md-xl q-pa-lg-xl">
      <my-courses-list />
  </q-page>
</template>

<script>
import MyCoursesList from "src/components/MyCoursesList.vue";
export default {
  components: { MyCoursesList },
};
</script>

<style></style>
