<template>
  <q-page class="flex flex-center">
    <div class="column fit">
      <div class="col">
        <Form :validation-schema="schema" @submit="submit">
          <q-input-with-validation
            label="Course Name"
            name="courseName"
            placeholder="Course Name"
          />
          <q-input-with-validation
            label="Description"
            name="description"
            placeholder="Description"
          />
          <q-input-with-validation
            label="Price"
            name="price"
            placeholder="$Price"
          />

          <q-btn
            class="q-mt-md"
            color="primary"
            type="submit"
            label="Create Course"
            :disabled="isUploaded"
          />
        </Form>
      </div>
    </div>

    <div class="q-pa-xl fit">
      <q-uploader
        class="fit"
        label="Course MP4 Upload"
        field-name="files"
        url="http://localhost:5000/api/v1/upload"
        multiple
        batch
        @uploaded="uploadCompleted"
        ref="uploader"
      />
    </div>
  </q-page>
</template>

<script>
import QInputWithValidation from "src/components/QInputWithValidation.vue";
import { Form } from "vee-validate";
import * as yup from "yup";
import { inject } from "vue";
export default {
  components: { QInputWithValidation, Form },
  setup() {
    const store = inject("store");
    const schema = yup.object({
      courseName: yup.string().required().min(5).label("Course Name"),
      description: yup.string().required().min(5).label("Course Name"),
      price: yup.number().min(0),
    });
    return {
      schema,
      store,
    };
  },
  data() {
    return {
      isUploaded: true,
      courses: {},
      contents: {},
    };
  },
  methods: {
    async submit(values, actions) {
      this.courses = values;
      const body = { course: this.courses, contents: this.contents.files };
      await this.store.methods.createCourse(body);
      actions.resetForm();
      this.$refs.uploader.removeUploadedFiles();
    },
    uploadCompleted(info) {
      this.isUploaded = false;
      const data = JSON.parse(info.xhr.response);
      this.contents = data;
    },
  },
};
</script>

<style></style>
