<template>
  <q-item clickable v-ripple @click="itemClick()" class="row items-center">
    <q-item-section thumbnail>
      <img src="https://cdn.quasar.dev/img/mountains.jpg" />
    </q-item-section>
    <q-item-label>{{ `Lesson ${content.order}` }}</q-item-label>
  </q-item>
</template>

<script>
import { inject } from "vue";
export default {
  name: "ContentItem",
  props: {
    content: {
      type: Object,
    },
  },
  setup() {
    const emitter = inject("emitter");
    return {
      emitter,
    };
  },
  methods: {
    itemClick() {
      this.emitter.emit("content-click", {
        id: this.content.id,
        fileName: this.content.fileName,
        component: "VideoComponent",
      });
      // this.emitter.emit("content-click2", {
      //   id: this.content.id,
      //   fileName: this.content.fileName,
      // });
    },
  },
};
</script>

<style></style>
