<template>
  <div class="container full-width">
    <div class="row wrap justify-center">
      <course-card
        class="q-ma-md"
        v-for="course in courses"
        v-bind:key="course"
        :course="course"
      />
    </div>
  </div>
</template>

<script>
import { inject } from "vue";
import CourseCard from "./CourseCard.vue";
export default {
  components: { CourseCard },
  async created() {
    const store = inject("store");
    const courses = await store.methods.getCourses();
    this.courses = await courses.data;
  },
  data() {
    return {
      courses: [],
    };
  },
};
</script>
<style></style>
