<template>
  <div class="col col-xs-12 col-sm-4 col-md-3">
    <q-card class="my-card">
      <q-img v-bind:src="course.coverImg">
        <div class="absolute-bottom text-h6 flex">
          {{ course.courseName }}
        </div>
      </q-img>
      <div class="row items-center">
        <q-card-section class="col-4 text-primary row items-center">
          <q-icon name="star_border" />
          <div>{{ course.rate }}</div>
        </q-card-section>
        <q-card-actions class="col-8 justify-end">
          <q-btn
            flat
            outline
            color="primary"
            label="Details"
            @click="courseDetails(course.id)"
            style="width: 5em"
          />
          <q-btn
            flat
            outline
            color="primary"
            label="ADD TO CART"
            @click="addToCart()"
            style="width: 8em"
          />
        </q-card-actions>
      </div>
    </q-card>
  </div>
</template>

<script>
import { inject } from "vue";
export default {
  name: "CourseCard",
  props: {
    course: {
      type: Object,
    },
  },
  setup() {
    const store = inject("store");
    return {
      store,
    };
  },
  methods: {
    courseDetails(id) {
      this.$router.push({ path: `/courses/${id}` });
    },
    addToCart() {
      this.store.setters.addItemToCart({
        id: this.course.id,
        img: this.course.coverImg,
        courseName: this.course.courseName,
        price: this.course.price,
      });
    },
  },
};
</script>
<style></style>
