<template>
  <q-item clickable v-close-popup v-ripple>
    <div class="row no-wrap" style="width: 20em">
      <div class="col-8">
        <q-item-section thumbnail>
          <q-img fit="fill" v-bind:src="course.img" />
        </q-item-section>
      </div>
      <div class="col">
        <q-item-section>
          <q-item-label>{{ course.courseName }}</q-item-label>
          <div>${{ course.price }}</div>
        </q-item-section>
      </div>
    </div>
  </q-item>
</template>

<script>
export default {
  props: {
    course: {
      type: Object,
    },
  },
};
</script>

<style></style>
