<template>
  <router-view />
</template>
<script>
import { defineComponent, provide } from "vue";
import store from "./store";
import jwt_decode from "jwt-decode";
import mitt from "mitt";
export default defineComponent({
  name: "App",
  setup() {
    const emitter = mitt();
    provide("emitter", emitter);
    provide("store", store);

    if (localStorage.token) {
      const decoded = jwt_decode(localStorage.getItem("token"));
      const user = {
        id: decoded.id,
        username: decoded.username,
        eMail: decoded.email,
        isLogged: true,
        token: "",
      };
      store.methods.updateState(user);
    }
  },
});
</script>
